.clear {
    clear: both;
}
.timer {
    position: fixed;
    font-family: 'Roboto';
    right: 20px;
    top: 100px;
    color: #DADADA;
}
.header-link {
    text-decoration: none;
    color: inherit;
    font-family: 'Lato';
    font-size: 2em;
    line-height: 100px;
    margin: 1em;
}
.articleHeader-profile--container {
    display: inline-block;
    width: 100px;
}
.articleHeader-profile--image {
    width: 100px;
    height: 100px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(https://lh4.googleusercontent.com/-C9FoJFKZg8o/ThlsBePd1zI/AAAAAAAAAMs/fM9G8ncejhw/w140-h140-p/41465_1064343913_8593_n.jpg) no-repeat;
}
.articleHeader-date--container {
    float: right;
    height: 100px;
}
.articleHeader-date--month {
    float: left;
    font-family: 'Roboto';
    font-size: 2em;
    color: #CACACA;
    line-height: 100px;
    padding-right: 20px;
}
.articleHeader-date--year {
    float: left;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 2.5em;
    color: #EAEAEA;
    line-height: 100px;
}
.articlesList, .latestArticle {
    margin: 1.5em;
    padding: 0;
    list-style: none;
    width: 50%;
}
.latestArticle {
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
}
.articlesList-item {
    padding: 2em;
    border-bottom: 1px solid #DADADA;
    font-size: 0.6em;
}
.articlesList-item.articlesList-item-first {
    font-size: 1em;
}
.articlesList-item--date {
    font-family: 'Roboto';
    font-weight: 700;
    padding: 0 0 1em 0;
}
.articlesList .articlesList-item--month, .articlesList .articlesList-item--year {
    color: #BABABA;
}
.articlesList-item--month {
    font-size: 2em;
}
.articlesList-item--year {
    font-size: 1em;
    font-weight: 300;
    padding-left: 0.5em;
}
.articlesList-item--title {
    font-size: 3em;
    margin-left: 20px;
    margin-left: 0;
}
