html, body {
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
    font-size: 100%;
    overflow-x: hidden;
    color: #333;
    font-family: 'Lato';
    font-weight: 300;
}
img {
  max-width: 100%;
  border-radius: 5px;
}
pre {
    position: relative;
    background-color: #F7F7F7;
    padding: 0 2em 2em 2em;
    border-radius: 0.5em;
}
pre {
  margin-top: 0;
  overflow-x: auto;
}
code {
    position: relative;
    font-family: Consolas, Inconsolata, Verdana;
    font-size: 0.75em;
    background-color: #555;
    color: #EAEAEA;
    padding: 6px 15px;
    top: -2px;
    border-radius: 3px;
    white-space: nowrap;
}
pre code {
    font-family: Consolas, Inconsolata, Verdana;
    font-size: 1.25em;
    background-color: transparent;
    line-height: 1.25em;
    color: #555;
    white-space: pre;
}
article {
    padding: 2em;
}
h1, h2, h3, h4 {
    font-weight: 700;
    color: #333;
    margin: 1.5em 0 0.5em 0;
}
h1 {
    font-size: 4em;
    text-align: center;
    padding: 0 1em;
    margin-top: 1em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
    color: #666;
}
h4 {
    font-size: 1.5em;
    color: #444;
}
p, ul, ol {
    font-size: 1.5em;
    line-height: 1.8em;
    margin-bottom: 1.4em;
    color: inherit;
}
ul, ol {
    font-size: 1.4em;
    margin-left: 1em;
    margin-right: 1em;
    padding-right: 40px;
}
li {
    margin-bottom: 1em;
}
a {
    text-decoration: none;
    color: #30A5D0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
strong {
    font-weight: 700;
}
blockquote {
    color: #888;
    border-left: 10px solid #F7F7F7;
    margin-left: 1em;
    padding-left: 1em;
}
