.clear {
    clear: both;
}
.text-small {
  font-size: 1em;
  color: #999;
}
.profile-picture {
  float: left;
  width: 75px;
  height: 75px;
  background: url(https://lh6.googleusercontent.com/-Am9E8NwuXuA/UuFhsL06WPI/AAAAAAAAAUo/etKU6VGmdW4/s250-no/me.jpg) no-repeat;
  background-size: 150px;
  background-position: -40px -30px;
  border-radius: 50%;
  margin: 0.5em 1em 0 0;
}
.header-sidebar {
  font-size: 2em;
  margin: 0 0 0.5em 0;
  color: #CACACA;
}
.header-sidebar-small {
  font-size: 1em;
  color: #AAA;
  margin: 0 0 -0.5em 0;
}
.header-title {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
.header-title--maintitle {
  margin: 0;
  margin-top: 0.5em;
}
.header-title--maintitle a {
  color: #FFF;
}
.header-title--subtitle {
  margin-top: 0.5em;
  color: #EAEAEA;
  font-size: 1em;
  font-weight: 300;
}
.header-title--subtitle a {
  color: #EAEAEA;
  text-decoration: underline;
}
.header-link {
    text-decoration: none;
    color: inherit;
    font-family: 'Roboto';
    font-size: 2em;
    line-height: 100px;
    margin: 1em;
}
.articleHeader-profile--container {
    display: inline-block;
    width: 100px;
}
.articleHeader-profile--image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: url(https://lh6.googleusercontent.com/-Am9E8NwuXuA/UuFhsL06WPI/AAAAAAAAAUo/etKU6VGmdW4/s250-no/me.jpg) no-repeat;
    background-position: -15px -15px;
    background-size: 150%;
}
.articleHeader-date--container {
    float: right;
    height: 100px;
}
.articleHeader-date--month {
    float: left;
    font-size: 2em;
    color: #CACACA;
    line-height: 100px;
    padding-right: 20px;
}
.articleHeader-date--year {
    float: left;
    font-weight: 700;
    font-size: 2.5em;
    color: #EAEAEA;
    line-height: 100px;
}
.articlesList, .latestArticle {
    padding: 0;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
}
.latestArticle {
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
}
.articlesList-item {
    padding: 2em;
    border-bottom: 1px solid #DADADA;
    font-size: 0.6em;
}
.articlesList-item.articlesList-item-first {
    font-size: 1em;
}
.articlesList-item--date {
    font-weight: 700;
    padding: 0 0 1em 0;
}
.articlesList .articlesList-item--month, .articlesList .articlesList-item--year {
    color: #BABABA;
}
.articlesList-item--month {
    font-size: 2em;
}
.articlesList-item--year {
    font-size: 1.5em;
    font-weight: 300;
    padding-left: 0.5em;
}
.articlesList-item--title {
    font-size: 3em;
    margin-left: 20px;
    margin-left: 0;
    color: #CACACA;
    line-height: 1.5em;
}
.articlesList-item--description p {
  margin: 1em 0 0 0;
}
.emptybox-TOC h4 {
  font-size: 1em;
  color: #BABABA;
}
.emptybox-TOC ul {
    list-style: none;
    margin: 0;
    padding-left: 0.5em;
}
.emptybox-TOC li {
    font-size: 0.7em;
    line-height: 20px;
    margin-bottom: 0.25em;
}
.emptybox-scrollspy {
  position: relative;
  width: 400px;
    top: 20px;
  text-align:left;
}
.emptybox-scrollspy-active {
  position: fixed;
  top: 20px;
  width: 400px;
  text-align:left;
}
@media screen and (max-width: 1400px) {
  .emptybox-scrollspy {
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  .emptybox-scrollspy-active {

  }
}
.emptybox-timer {
  display: inline-block;
  font-size: 1em;
  border: 3px solid #CACACA;
  width: 50px;
  height: 50px;
  line-height: 22px;
  border-radius: 5px;
  color: #CACACA;
  padding: 10px 5px 0 5px;
  vertical-align: top;
  margin: 0;
  font-weight: 300;
}
.emptybox-timer div {
  font-size: 1.5em;
  font-weight: 700;
}
.emptybox-twitter {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  background: url(http://www.whentotweet.com/static/tweet.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center 20%;
  border: 3px solid #999;
  display: inline-block;
  vertical-align: top;
  opacity: 0.5;
  text-align: center;
  line-height: 75px;
  color: #999;
}
.emptybox-twitter:hover {
  opacity: 1;
  border: 3px solid #30A5D0;
  color: #30A5D0;
}
.emptybox-rss {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  margin-left: 5px;
  border: 3px solid #999;
  display: inline-block;
  vertical-align: top;
  opacity: 0.5;
  text-align: center;
  color: #999;
}
.emptybox-rss:hover {
  opacity: 1;
  border: 3px solid orange;
  color: orange;
}
