html, body {
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
    font-size: 100%;
    overflow-x: hidden;
}
pre {
  position: relative;
  background-color: #F7F7F7;
  padding: 0 2em 2em 2em;
  border-radius: 0.5em;
}
pre code {
  font-family: consolas, Inconsolata;
  font-size: 1.25em;
  background-color: transparent;
  line-height: 1.25em;
  color: #555;
}
code {
  font-family: consolas, Inconsolata;
  font-size: 1em;
  background-color: #555;
  color: #EAEAEA;
  padding: 8px 15px;
  border-radius: 3px;
}
article {
    padding: 2em;
    text-align: justify;
}
h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333;
}
h1 {
    font-size: 4em;
    text-align: center;
    padding: 0 1em;
}
h3 {
    font-size: 2em;
}
p, ul, ol {
    font-family: 'Lato', sans-serif;
    color: #333;
    font-weight: 300;
    font-size: 1.4em;
    line-height: 1.9em;
    margin-bottom: 1.4em;
}
a {
    text-decoration: none;
    color: #30A5D0;
}
