.hljs-keyword, .hljs-literal {
  color: #286090;
}
.hljs-comment {
  color: #999;
  font-style: italic;
}
.hljs-built_in, .hljs-title {
  color: #5CB85C;
}
.hljs-string, .hljs-value {
  color: #F0AD4E;
}
